<%= content_for :page_title, 'La Réserve' %>

<section id="page_header" class="reserve-header">
  <%= image_tag 'reserve-header', alt: 'la reserve' %>

  <div class="inner-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-title">
            <div class="text-container">
              <%= image_tag 'reserve-page-logo', alt: 'la réserve' %>
              <h1 class="hidden-xs">
                Le nouvel espace microbrasserie<br/>de Petro-Canada
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="main-content">
  <div class="reserve-container">
    <div class="container-fluid">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="micro-item">
          <img src="http://placehold.it/500x500">
          <div class="text-container">
            <div class="inner-container">
              <div class="inner-wrapper">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sapien sodales turpis aliquam
                  dapibus. Mauris a erat sit amet massa porta scelerisque ac at velit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="micro-item">
          <img src="http://placehold.it/500x500">
          <div class="text-container">
            <div class="inner-container">
              <div class="inner-wrapper">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sapien sodales turpis aliquam
                  dapibus. Mauris a erat sit amet massa porta scelerisque ac at velit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="micro-item">
          <img src="http://placehold.it/500x500">
          <div class="text-container">
            <div class="inner-container">
              <div class="inner-wrapper">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sapien sodales turpis aliquam
                  dapibus. Mauris a erat sit amet massa porta scelerisque ac at velit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="micro-item">
          <img src="http://placehold.it/500x500">
          <div class="text-container">
            <div class="inner-container">
              <div class="inner-wrapper">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sapien sodales turpis aliquam
                  dapibus. Mauris a erat sit amet massa porta scelerisque ac at velit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>