.navbar{
  margin-bottom: 0px;

  .fb-link{
    position: absolute;
    right: 30px;
    top: 23px;
    z-index: 1;

    &:hover{
      opacity: 0.5;
    }
  }

  .container{
    position: relative;

    .navbar-header{
      background: none;
      z-index: 40;

      .navbar-toggle{
        margin-top: 44px;
        margin-right: 0px;

        .icon-bar{
          background: #000;
          width: 34px;
        }

        &:not(.collapsed) .icon-bar:nth-child(2){
          top: 7px;
          position: relative;
        }
      }

      .navbar-brand{
        padding: 0px;
        font-size: initial;
        line-height: initial;
        height: auto;

        img{

        }
      }
    }

    #navbar{
      margin-top: 67px;

      ul{
        li{
          font-family: $TradeGothicBold;
          font-size: 1.125em;

          a{
            color: #363636;
            -webkit-transition: color .25s ease-in-out;
            -moz-transition: color .25s ease-in-out;
            -o-transition: color .25s ease-in-out;
            transition: color .25s ease-in-out;

            span.underline{
              width: 0%;
              height: 2px;
              background: #ed202a;
              position: relative;
              display: block;
              top: 4px;
              -webkit-transition: width .25s ease-in-out;
              -moz-transition: width .25s ease-in-out;
              -o-transition: width .25s ease-in-out;
              transition: width .25s ease-in-out;
            }

            &:hover{
              color: #ed202a;
              background: none;

              span.underline{
                width: 100%;
              }
            }

            &:focus{
              background: none;
            }
          }

          &.add-margin-right{
            margin-right: 25px;
          }

          &.active-link{
            a{
              color: #ed202a;

              span.underline{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}