.reserve-header {
  .inner-container {
    .container {
      position: relative;

      .row {
        .col-lg-12 {
          .header-title {
            .text-container {
              .reserve-logo{
                width: 50%;
              }

              h1{
                color: #b7b6b5 !important;
                text-align: center;
                font-family: $NexaRustSansBook !important;
                font-size: 1.75em;
                margin-bottom: 0px !important;
                margin-top: 45px !important;
              }
            }
          }
        }
      }
    }
  }

  .sort-brewery-link{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #FFF;
    color: #333333;
    padding: 15px;
    text-decoration: none;

    &:hover{
      background: darken(#FFF, 25%);
    }
  }
}

.reserve-container{
  background: #ed202a;

  .full-width-container{
    padding: 0;
    margin: 0;

    .remove-padding{
      padding-right: 0px;
      padding-left: 0px;
    }

    .micro-item{
      background: #ed202a;
      min-height: 450px;
      position: relative;

      .content-wrapper{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        text-align: center;
        -webkit-transition: background-color .25s ease-in-out;
        -moz-transition: background-color .25s ease-in-out;
        -o-transition: background-color .25s ease-in-out;
        transition: background-color .25s ease-in-out;

        .inner-wrapper{
          display: table;
          width: 100%;
          height: 100%;
          margin: 0 auto;

          .wrapper{
            display: table-cell;
            width: 100%;
            height: 100%;
            padding: 0 15px;
            vertical-align: middle;
            position: relative;

            img{
              max-width: 100%;
              position: relative;
            }

            .text-container{
              position: absolute;
              left: 0;
              padding: 25px;
              top: 65%;
              transform: translateY(-50%);
              -moz-opacity: 0;
              -khtml-opacity: 0;
              opacity: 0;
              display: none;

              h3{
                text-transform: uppercase;
              }

              p{
                font-size: 1.05em;
                color: #5e5e5e;
              }
            }
          }
        }
      }
    }
  }


  //.micro-item{
  //  margin-bottom: 30px;
  //  position: relative;
  //
  //  img{
  //    max-width: 100%;
  //    width: 100%;
  //  }
  //
  //  .text-container{
  //    width: 100%;
  //    height: 100%;
  //    position: absolute;
  //    top:0;
  //    left:0;
  //    background: #FFF;
  //    text-align: center;
  //    opacity: 0;
  //    -webkit-transition: opacity .25s ease-in-out;
  //    -moz-transition: opacity .25s ease-in-out;
  //    -o-transition: opacity .25s ease-in-out;
  //    transition: opacity .25s ease-in-out;
  //
  //    .inner-container{
  //      display: table;
  //      width: 100%;
  //      height: 100%;
  //      margin: 0 auto;
  //
  //      .inner-wrapper{
  //        display: table-cell;
  //        width: 100%;
  //        height: 100%;
  //        padding: 0 15px;
  //        vertical-align: middle;
  //        position: relative;
  //
  //        p{
  //          font-size: 1.25em;
  //          color: #5e5e5e;
  //        }
  //      }
  //    }
  //  }
  //
  //  &:hover{
  //    .text-container{
  //      opacity:1;
  //    }
  //  }
  //}
}